<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
  $(function () {
    $('#container').highcharts({

        exporting: { enabled: false 
        },

          credits: {
            enabled: false
        },

        chart: {
            type: 'spline'
        },
        title: {
            text: 'Your Moods'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {

            labels: {
                enabled: false
            },

            title: {
                text: ''
            },
            min: 0,
            max: 1000,

        }, 

        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
        },

        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            }
        },



        series: [
            {
            name: 'Happiness',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: <%= @data_happiness %> 
            },

            {
            name: 'Energy',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: <%= @data_energy %> 
            },

            {
            name: 'Motivation',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: <%= @data_motivation %> 
            },

            {
            name: 'Love',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: <%= @data_love %> 
            },
 /*
            }
            name: 'Motivation',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: <%= @data_motivation %> 
            }*/
        ] 
    });
});
</script>