= simple_form_for @mood, html: { multipart: true } do |f|
  - if @mood.errors.any?
    #errors
      %p
        = @mood.errors.count
        Prevented this recipe from saving.
      %ul
        - @mood.errors.full_messages.each do |msg|
          %li = msg
  .panel-body
  
    = render 'sliders'

    = f.input :smoked, input_html: { class: 'form-control'}
    = f.input :drank, label: "Drinking", input_html: { class: 'form-control'}
    = f.input :in_bed, input_html: { class: 'form-control'}
    = f.input :notes, input_html: { class: 'form-control'}
    = f.input :special, nput_html: { class: 'form-control'}

    = f.button :submit, class: "btn btn-primary"

